data/
output/
logs/
.RData 
.Rhistory 
.snakemake 
_* 
code/*.jar
code/*/
.R*
.snakemake
code/*.tgz
generator*
.ipynb*
cluster_config.yml
test*
.Rproj.user
### EVERY FOLDER HAS ITS OWN .GITIGNORE
./R_workflowr/.R*
test*
**/*test**
*.log
**/*.log
